# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### __Objectives__
* Data Science Tools and Ecosystem.  
* popular languages that Data Scientists use.  
* Some of the commonly used libraries used by Data Scientists.  
* few examples of evaluating arithmetic expressions in Python.  
* convert minutes to hours.

#### Some of the popular languages that Data Scientists use are:  
1- Python  
2- R  
3- SQL  
4- Julia  
5- Scala

#### Some of the commonly used libraries used by Data Scientists include:  
1- Pandas  
2- NumPy  
3- Matplotlib  
4- Seaborn  
5- SCIPY

### Data Science Tools:



<table style="width:50%">
  <tr>
    <th>Data Science Tools</th>
   
  <tr>
    <td>Apache Spark</td>

  <tr>
    <td>Apache Hadoop</td>
 
  <tr>
    <td>RStudio</td>
   
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
x = 5
y = 7 
z = x + y 
print(z)

12

In [3]:
x = 5
y = 7 
z = x * y 
print(z)

35

In [4]:
x = 10
y = 5 
z = x / y 
print(z)

2.0

In [2]:
#This a simple arithmetic expression to multiply then add integers
print((3*4)+5)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
print(200 / 60 )

3.3333333333333335

## Author
Kyrillos Tadros